<div class="col-lg-10">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Add Question Title...">
          <textarea class="form-control" rows="3" placeholder="Add Question Text..."></textarea>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Add</button>
        </span>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
