<container>


                <div id="questions" class="tab-pane">

                    <div class="col-md-10 ">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">This is a title for a question. This is a title for a question.</h3>
                            </div>

                        </div>
                        <div class="col-xs-1">
                            <a href="#" class="glyphicon glyphicon-chevron-up"></a><br>
                            4<br>
                            <a href="#" class="glyphicon glyphicon-chevron-down"></a>
                        </div>
                        <div class="panel-body">
                            This is some description for the question.This is some description for the question.This is some description for the question.This is some description for the question.This is some description for the question.This is some description for the
                            question.This is some description for the question.This is some description for the question.This is some description for the question.This is some description for the question.This is some description for the question.This is some description for
                            the question.
                        </div>
                    </div>
                </div>
            </div>



</container>
